*, *::before ,*::after{
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }
 :root{
     --primary-color: #E5CC7B;
     --primary-white-color: #fff;
     --primary-font-family: 'Poppins', sans-serif;
     --secondary-color: #495258;
     --secondary-bg: #495258;
 }
 img{
     max-width: 100%;
     height: auto;
 }
 body{
     font-family:var(--primary-font-family);
 }
 a, a:hover { text-decoration: none }
 a:focus { outline: 0 solid; text-decoration: none}
 .primary-btn{
     background: linear-gradient(180deg, #F4E69A 0%, #D1A951 100%);
     border-radius: 15px;
     display: inline-block;
     height: 70px;
     color: var(--secondary-color);
     font-size: 20px;
     font-weight: 600;
     width: 242px;
     text-align: center;
     line-height: 70px;
     transition: all 0.3s ease 0s;
 }
 .primary-btn span{
     margin-left: 20px;transition: all 0.3s ease 0s;
 }

 .hero-area{
     background-color: #F3F3F3;
     background-image: url(../img/hero-bg.png);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 900px;
 }

 .wlc-content > span {
     font-size: 21px;
     line-height: 32px;
     font-weight: 600;
     letter-spacing: 0.135em;
     position: relative;
     padding-bottom: 12px;
     margin-bottom: 10px;
     display: inline-block;
 }
 
 .wlc-content > span::after {
     position: absolute;
     left: 0;
     bottom: 0;
     height: 2px;
     width: 100%;
     content: "";
     background: linear-gradient(180deg, #F4E69A 0%, #D1A951 100%);
 }

 .wlc-content h1 {
     font-size: 156px;
     text-transform: uppercase;
     font-weight: 700;
     font-family: 'Roboto Condensed', sans-serif;
     line-height: 140px;
     background: linear-gradient(180deg, #E8CB44 0%, #C79A56 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;
     text-fill-color: transparent;
 }
 .wlc-content h2.sub-heading {
     font-weight: 300;
     font-family: 'Roboto Condensed', sans-serif;
     font-size: 118px;
     line-height: 108px;
     color: var(--secondary-color);
     position: relative;
     padding-bottom: 30px;
     margin-bottom: 25px;
     letter-spacing: 0.08em;
 }
 .wlc-content h2.sub-heading::before {
     position: absolute;
     left: 0;
     bottom: 0;
     height: 2px;
     max-width: 550px;
     width: 100%;
     background: linear-gradient(180deg, #F4E69A 0%, #D1A951 100%);
     content: "";
 }
 
 .wlc-content p {
     font-size: 35px;
     line-height: 52px;
     margin: 0;
     color: var(--secondary-color);
 }
 .hero-area.inner-hero .wlc-content p{
     font-size: 26px;
     line-height: 39px;
     font-weight: 500;
 }
 
 .wlc-content p span {
     font-weight: 600;
 }
 
 .button-groups {
     display: inline-flex;
     align-items: center;
     margin-top: 55px;
 }
 .button-groups .primary-btn:hover, .contact-form .submit-btn input[type="submit"]:hover, 
 .price-button .primary-btn:hover{
     background: linear-gradient(180deg, #D1A951 0%, #F4E69A 100%);
     color: var(--secondary-color);
 }
 .button-groups .primary-btn:hover span{
     margin-left: 10px;
 }
 
 .button-groups p {
     margin: 0;
     font-size: 22px;
     line-height: 34px;
     font-weight: 600;
     margin-left: 30px;
 }

 .our-client-partner-area{
     background: var(--secondary-bg);
     padding: 50px 0;
 }
 .client-partner{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
 }
 .client-partner p {
     margin: 0;
     font-size: 27px;
     font-weight: 600;
     background: linear-gradient(180deg, #F4E69A 0%, #D1A951 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;
     text-fill-color: transparent;
     height: 86px;
     line-height: 82px;
     width: 300px;
     text-align: center;
     border-top: 2px solid #D1A951;
     border-bottom: 2px solid #D1A951;
 }
 .client-partner p span {
     margin-left: 15px;
 }
 .client-partner>div{
     flex: 0 0 auto;
 }
 .client-partner>div a> img, .client-link a {
     -webkit-transform: perspective(1px) translateZ(0);
     transform: perspective(1px) translateZ(0);
     -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
     -webkit-transition-property: transform;
     transition-property: transform;
     -webkit-transition-timing-function: ease-out;
     transition-timing-function: ease-out;
 }

.client-partner>div a{
     margin: 0px 30px;
 } 
 .client-partner>div a> img{filter: brightness(0) invert(1);}
 .client-partner>div a:hover> img, .client-link a:hover{filter:none;-webkit-transform: translateY(-5px);
     transform: translateY(-5px);}
 .section-title h2{
     color: #E5CC7B;
     font-size: 64px;
     line-height: 59px;
     font-weight: 600;
     text-transform: uppercase;
     margin: 0;
 }
 .section-title h3 {
     font-size: 53px;
     line-height: 59px;
     font-weight: 600;
     color: var(--secondary-color);
     margin: 0;
 }
 .section-title h3 span{
     color: #E5CC7B;
     font-weight: 700;
     font-family: 'Roboto Condensed', sans-serif;
 }
 
 .access-bonus-resources-area {
     padding: 85px 0;
     position: relative;
 }
 .access-bonus-resources-area .row.mt-5 {
     margin-top: 256px !important;
 }

 .single-book-team {
     width: 100%;
     max-width: 540px;
 }
 .single-book-team p {
     margin: 10px 0 0;
     text-align: center;
     font-size: 20px;
     line-height: 30px;
     color: var(--secondary-color);
 }
 .book-team {
     border: 3px solid #E5CC7B;
     position: relative;
     padding: 0 35px 35px;
 }
 .book-team .icon {
     margin-top: -171px;
     margin-bottom: 30px;
 }
 .book-team h3 {
     font-size: 29px;
     line-height: 44px;
     font-weight: 500;
     margin: 0;
     color: var(--secondary-color);
 }

 .our-steps-area {
     background: #F4F4F4;
     padding: 180px 0 50px;
     position: relative;
 }
 
 .our-steps-area::before, .our-steps-area::after {
     clip-path: polygon(50% 100%, 0 0, 100% 0);
     position: absolute;
     left: 0;
     top: 0;
     height: 100px;
     background: #fff;
     content: "";
     width: 100%;
 }
 
 .our-steps-area::after {
     top: auto;
     bottom: -100px;
     background: #f4f4f4;
 }
 .our-steps-area .row.mt-5, .about-book-area .row.mt-5, .about-author-area .row.mt-5 {
     margin-top: 85px !important;
 }
 .single-step {
     width: 100%;
     max-width: 540px;
     min-height: 550px;
     background: linear-gradient(180deg, #F4E69A 0%, #D1A951 100%);
     padding: 50px 60px; 
     position: relative;
     z-index: 1;
 }
 
 .single-step::before {
     position: absolute;
     left: 50%;
     top: 50%;
     width: calc(100% - 4px);
     height: calc(100% - 4px);
     background: #fff;
     content: "";
     transform: translate(-50%, -50%);
     z-index: -1;
 }
 
 .single-step h3 {
     font-size: 30px;
     font-weight: 600;
     line-height: 27px;
     margin-bottom: 30px;
     color: var(--secondary-color);
 }
 
 .single-step p {
     font-size: 22px;
     line-height: 33px;
     margin: 0;
     color: var(--secondary-color);
 }
 .client-link {
     margin-top: 50px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }
 .client-link a {
     background: var(--secondary-bg);
     height: 80px;
     display: block;
     width: 190px;
     padding: 0px 15px;
     line-height: 80px;
     transition: all 0.3s ease 0s;
 }
 .client-link a:hover{background: var(--primary-color);}
 .client-link a:not(:last-child) {
     margin-bottom: 35px;
 }
 .contact-form {
     margin: 30px 0 0;
 }
 .contact-form .form-control {
     height: 50px;
     border-color: #E5CC7B;
     border-radius: 0px;
     padding-left: 15px;
     color: rgba(73, 82, 88, 0.3);
 }
 .contact-form .submit-btn{text-align: center;}
 .contact-form .submit-btn input[type="submit"] {
     border: 0px solid;
     background: linear-gradient(180deg, #F4E69A 0%, #D1A951 100%);
     border-radius: 15px;
     height: 70px;
     width: 216px;
     font-size: 20px;
     font-weight: 600;
     display: block;
     cursor: pointer;
     margin: 0 auto;
     color: var(--secondary-color);
     transition: all 0.3s ease 0s;
 }
 .bulk-discount p {
     font-size: 20px;
     color: var(--secondary-color);
     margin: 0;
 }
 .bulk-discount p a{
     text-decoration: underline;
     color: var(--primary-color);
     transition: all 0.3s ease 0s;
 }
 .bulk-discount p a:hover{
     text-decoration: none;
 }
 .arrow-down {
     background: url(../img/arrow-down.svg);
     height: 57.21px;
     width: 22.23px;
     background-repeat: no-repeat;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: -13.7%;
     z-index: 9;
 }
 .our-steps-area .arrow-down {
     bottom: -12.3%;
 }
 .about-book-area{
     padding: 188px 0 50px;   
     position: relative;
 }

 .about-book {
     width: 100%;
     max-width: 550px;
 }
 .about-book p {
     font-size: 20px;
     line-height: 36px;
     color: var(--secondary-color);
 }

 .about-author-area {
     background: #495258;
     padding: 100px 0 75px;
 }
 .about-author-content {
     border: 3px solid #D1A951;
     padding: 50px 54px 25px;
     min-height: 707px;
     position: relative;
     display: flex;
 }
 .about-author-content p {
     max-width: 428px;
     font-size: 20px;
     line-height: 36px;
     color: #fff;
     margin: 0;
 }
 .author-image {
     position: absolute;
     right: -50px;
     bottom: -32%;
 }
 .social-link {
     display: flex;
     align-items: center;
     max-width: 550px;
     width: 100%;
     flex-wrap: wrap;
     justify-content: space-between;
     margin-top: 65px;
 }
 .social-link p {
     font-size: 27px;
     margin: 0;
     height: 80px;
     line-height: 74px;
     border-top: 2px solid #fff;
     border-bottom: 2px solid #fff;
     font-weight: 600;
     background: linear-gradient(180deg, #F4E69A 0%, #D1A951 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;
     text-fill-color: transparent;
     max-width: 286px;
     text-align: center;
     width: 280px;
 }
 .social-link p span{
     margin-left: 15px;
 }
 .social-link div a {
     display: inline-block;
     margin-left: 16px;
 }
 .social-link div a img {
     filter: brightness(0) invert(1);
     transition: all 0.3s ease 0s;
 }
 .social-link div a:hover img{
     filter: none;
 }


 .footer-area {
     background: #3A4247;
     padding: 50px;
 }
 .footer-link {
     text-align: center;
 }
 .footer-link a {
     display: inline-block;
     font-size: 26px;
     color: #fff;
     letter-spacing: 0.085em;
     padding: 0px 20px;
     margin: 0 20px;
     position: relative;
     transition: all 0.3s ease 0s;
 }
 .footer-link a:hover{
     color: var(--primary-color);
 }
 .footer-link a::before {
     position: absolute;
     left: -24px;
     top: 50%;
     height: calc(100% - 10%);
     width: 1px;
     background: #fff;
     content: "";
     transform: translateY(-50%);
 }
 .footer-link a:first-child::before{content: none;}


.our-price-table-area{
     padding: 90px 0;
}

 .single-price-table {
     padding: 33px 40px 50px;
     border: 2px solid #E5CC7B;
 }
 
 .single-price-table:not(:last-child) {
     margin-bottom: 40px;
 }
 
 .price-table-top{
     width: 100%;
     max-width: 269px;
     margin: 0 auto;
 }
 .price-table-top h2 {
     font-size: 29px;
     line-height: 43px;
     font-weight: 400;
     color: var(--secondary-color);
 }
 .price-table-top h2 span{
     color: var(--primary-color);
     font-weight: 700;
 }
 .price-button p {
     font-weight: 300;
     font-style: italic;
     line-height: 24px;
     margin-bottom: 20px;
 }
 .price-button .primary-btn{
     transition: all 0.3s ease 0s;
 }
 
 .price-table-content {
     padding-left: 60px;
 }

 .price-table-content ul {
     margin: 0;
     padding: 0;
     list-style: none;
 }
 .price-table-content ul li {
     position: relative;
     padding-left: 62px;
     font-size: 18px;
     line-height: 29px;
     color: var(--secondary-color);
 }
 .price-table-content ul li div strong{
     font-weight: 600;
 }
 
 .price-table-content ul li span {
     position: absolute;
     left: 0;
 }
 
 
 
 .price-table-content ul li:not(:last-child) {
     margin-bottom: 40px;
 }
 /**/
 .footer-area.footer-v2{
     padding: 70px 0 50px;
 }

 .footer-area.footer-v2 .client-partner {
     width: 100%;
     max-width: 1050px;
     margin: 0 auto 60px;
 }
 .footer-area.footer-v2 .client-partner img{
     filter: brightness(0) invert(1);
 }
 .footer-area.footer-v2 .client-partner a:hover img{
     filter:none;
 }

 .footer-content.row.mt-5{
     margin-bottom: 60px !important;
 }
 .footer-content h2 {
     font-size: 32px;
     line-height: 48px;
     font-weight: 400;
     margin: 0;
     color: var(--primary-color);
 }
 .footer-cta{
     padding-top: 30px;
     border-top: 2px solid var(--primary-color);
 }
 .footer-cta p {
     margin: 0;
     font-size: 26px;
     color: var(--primary-white-color);
 }
 .footer-cta p a{
     color: var(--primary-color);
     text-decoration: underline;
     transition: all 0.3s ease 0s;
 }
 .footer-cta p a:hover{
     text-decoration: none;
 }

 .contact-form form.fsForm.fsMaxCol1{
     width: inherit !important;
 }

 /*
     Responsive css
 */

 @media  screen and (max-width: 1280px) {
     .price-table-top h2 {font-size: 26px;line-height: 39px;}
     .book-team .icon {width: 290px; margin-left: auto; margin-right: auto;}
     .client-partner>div a {margin: 0px 20px;}
     .author-image {right: -102px; width: 724px;}
     header.hero-area.d-flex.align-items-center {
          min-height: auto;
          height: 100vh;
      }
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
     .hero-area { min-height: 720px;}
     .wlc-content h1 {font-size: 110px;line-height: 104px;}
     .wlc-content h2.sub-heading {font-size: 86px;line-height: 86px;}
     .wlc-content h2.sub-heading::before {max-width: 490px;}
     .hero-area.inner-hero .wlc-content p {padding-right: 10px;}
     .hero-area.inner-hero .wlc-content p br {display: none;}
     .footer-content h2 {font-size: 28px;}
     .footer-area.footer-v2 .client-partner {max-width: 790px;}
     .single-price-table .row .col-lg-9 {flex: 0 0 calc(100% - 280px);}
     .single-price-table .row .col-lg-3 {flex: 0 0 280px;}

     /**/
     .section-title h3 {font-size: 48px;}
     .book-team h3 {font-size: 26px;}
     .book-team .icon {width: 270px;margin-left: auto;margin-right: auto;}
     .single-book-team p {font-size: 16px;line-height: 25px;}
     .single-step { padding: 50px 40px;}
     .client-link a {width: 165px;}
     .author-image {bottom: 2px;width: 500px;}
     .footer-link a {font-size: 20px;margin: 0 20px;}
     .social-link { margin-left: auto;margin-right: auto;}
     .client-partner { display: block;text-align: center;}
     .client-partner p {display: block;margin: 0 auto 40px;}

}


@media only screen and (min-width: 768px) and (max-width: 991px) {
     .hero-area {min-height: auto;padding: 50px 0 60px;}
     .wlc-content{text-align: center;}
     .wlc-content h1 {font-size: 114px;line-height: 106px;}
     .wlc-content h2.sub-heading {font-size: 85px;line-height: 85px; margin-bottom: 0;}
     .wlc-content h2.sub-heading::before{content: none;}
     .hero-image{display: none;}
     .wlc-content img.d-none {display: block !important;width: 450px;margin-left: 24%;margin-bottom: 30px;}
     .hero-area.inner-hero .wlc-content p {padding-top: 35px;border-top: 1px solid var(--primary-color);margin-top: 40px;}
     .price-table-top h2 { margin-bottom: 25px;}
     .price-table-content {padding-left: 0;margin-top: 50px;}

     /**/
     img.d-none.hero-home { display: block !important; width: 450px; margin-left: 26%; margin-top: 30px;}
     .button-groups {display: flex; justify-content: center;}
     .client-partner {display: block;text-align: center;}
     .client-partner p {margin: 0 auto 40px;}
     .section-title h3 br {display: none;}
     .book-team .icon {margin-top: -150px;width: 260px; margin-left: auto;margin-right: auto;}
     .single-book-team, .single-step { margin: 0 auto;}
     .access-bonus-resources-area .row.mt-5 {margin-top: 210px !important;}
     .access-bonus-resources-area .row.mt-5 .col-lg-6:not(:last-child) { margin-bottom: 196px;}
     .our-steps-area .row.mt-5 .col-lg-6:not(:last-child) { margin-bottom: 50px;}
     .arrow-down { bottom: -8.7%;}
     .our-steps-area .arrow-down {bottom: -7.8%;}
     .book-cover {text-align: center;}
     .about-book { max-width: 100%;text-align: center;}
     .about-author-content {padding: 50px 54px 0;min-height: auto; display: block;}
     .about-author-content p { max-width: 100%;}
     .author-image {position: static;}
     .social-link {margin-left: auto;margin-right: auto;}
     .footer-link a {font-size: 16px; padding: 5px 10px;margin: 0 5px;}
     .footer-link a::before {left: -9px;}
     .section-title h2 {font-size: 50px;line-height: 55px;}
     .section-title h3 {font-size: 44px;line-height: 56px;}
     .client-partner>div a {
          margin: 5px 15px;
          display: inline-block;
          width: 133px;
      }
}


@media only screen and (min-width: 576px) and (max-width: 767px)  {
     .hero-area {min-height: auto;padding: 50px 0 60px;}
     .wlc-content{text-align: center;}
     .wlc-content h1 {font-size: 86px;line-height: 86px;}
     .wlc-content h2.sub-heading {font-size: 66px;line-height: 56px;margin-bottom: 0;}
     .wlc-content h2.sub-heading::before{content: none;}
     .wlc-content img.d-none{display: block !important;width: 290px;margin-left: 30%;}
     .hero-image, .hero-area.inner-hero .wlc-content p br {display: none;}
     .hero-area.inner-hero .wlc-content p {font-size: 20px;line-height: 30px;padding: 0 15px;margin-top: 25px;padding-top: 25px; border-top: 1px solid var(--primary-color);}
     .our-price-table-area {padding: 50px 0;}
     .single-price-table {padding: 33px 20px 50px;}
     .price-table-top h2 {font-size: 26px;line-height: 40px;margin-bottom: 30px;}
     .price-table-content { padding-left: 0;margin-top: 50px;}
     .price-table-content ul li {padding-left: 0;text-align: center;font-size: 17px;}
     .price-table-content ul li span {position: static;margin-bottom: 15px;display: inline-block;}
     .footer-content h2 {font-size: 27px;line-height: 40px;padding: 0 5px;}
     .footer-area.footer-v2 {padding: 50px 0;}
     .footer-area.footer-v2 .client-partner {display: block;text-align: center;}
     .footer-area.footer-v2 .client-partner a {display: block;}
     .footer-area.footer-v2 .client-partner a:not(:last-child) {margin-bottom: 33px;}
     .footer-cta p {font-size: 22px;}

     /**/
     .wlc-content > span {font-size: 14px;line-height: 16px;}
     .wlc-content p {font-size: 30px;line-height: 44px;}
     img.d-none.hero-home { display: block !important; width: 350px; margin-left: 30%; margin-top: 30px;}
     .client-partner {display: block;text-align: center;}
     .client-partner p, .social-link p {font-size: 24px;width: 290px;margin: 0 auto 40px;height: 70px;line-height: 66px;}
     .button-groups { display: block;margin-top: 40px;text-align: center;}
     .button-groups p {margin-left: 0px;margin-top: 12px;}
     .client-partner a:not(:last-child) {margin-bottom: 26px;display: block;}
     .our-steps-area .row.mt-5, .about-book-area .row.mt-5, .about-author-area .row.mt-5 {
          margin-top: 45px !important;
      }
     /**/
     .access-bonus-resources-area, .about-author-area {padding: 50px 0;}
     .about-author-content {padding: 30px 30px 0px; min-height: auto;display: block;}
     .author-image {position: static;}
     .social-link {display: block;text-align: center;margin-top: 40px;}
     .social-link div a:first-child{margin-left: 0;}
     .section-title h2 { font-size: 46px;line-height: 50px;}
     .our-steps-area::after { bottom: -55px;}
     .arrow-down {height: 57.21px;bottom: -11.2%;}
     .our-steps-area .arrow-down {bottom: -5.3%;}
     .section-title h3 {font-size: 33px;line-height: 45px;}
     .section-title h3 br {display: none;}
     .book-team .icon { margin-top: -118px;width: 195px;margin-left: auto;margin-right: auto;}
     .access-bonus-resources-area .row.mt-5 {margin-top: 165px !important;}
     .book-team h3 {font-size: 22px;line-height: 36px;}
     .single-book-team p {font-size: 15px;line-height: 25px;}
     .single-step { padding: 50px 20px; min-height: auto;}
     .client-link a { width: 160px;padding: 0px 14px;}
     .client-link a:not(:last-child) {margin-bottom: 20px;}
     .our-steps-area .row.mt-5 .col-lg-6:not(:last-child) { margin-bottom: 50px;}
     .our-steps-area::after {height: 55px;}
     .footer-link a {font-size: 12px;padding: 5px 10px;margin: 0;}

     /**/
     .access-bonus-resources-area .row.mt-5 .col-lg-6:not(:last-child) {
          margin-bottom: 160px;
      }
      .client-link {
          display: block;
          text-align: center;
      }
      .client-link a {
          display: inline-block;
          margin: 0 10px;
      }

}

@media (max-width: 575px) {
     .hero-area {min-height: auto;padding: 50px 0 60px;}
     .wlc-content{text-align: center;}
     .wlc-content h1 {font-size: 86px;line-height: 86px;}
     .wlc-content h2.sub-heading {font-size: 66px;line-height: 56px;margin-bottom: 0;}
     .wlc-content h2.sub-heading::before, .footer-link a::before{content: none;}
     .wlc-content img.d-none{display: block !important;width: 290px;margin-left: auto;}
     .hero-image, .hero-area.inner-hero .wlc-content p br, .single-book-team p {display: none;}
     .hero-area.inner-hero .wlc-content p {font-size: 20px;line-height: 30px;padding: 0 15px;margin-top: 25px;padding-top: 25px; border-top: 1px solid var(--primary-color);}
     .our-price-table-area {padding: 50px 0;}
     .single-price-table {padding: 33px 20px 50px;}
     .price-table-top h2 {font-size: 26px;line-height: 40px;margin-bottom: 30px;}
     .price-table-content { padding-left: 0;margin-top: 50px;}
     .price-table-content ul li {padding-left: 0;text-align: center;font-size: 17px;}
     .price-table-content ul li span {position: static;margin-bottom: 15px;display: inline-block;}
     .footer-content h2 {font-size: 27px;line-height: 40px;padding: 0 5px;}
     .footer-area.footer-v2 {padding: 50px 0;}
     .footer-area.footer-v2 .client-partner {display: block;text-align: center;}
     .footer-area.footer-v2 .client-partner a {display: block;}
     .footer-area.footer-v2 .client-partner a:not(:last-child) {margin-bottom: 33px;}
     .footer-cta p {font-size: 22px;}

     /**/
     .wlc-content > span {font-size: 14px;line-height: 16px;}
     .wlc-content p {font-size: 30px;line-height: 44px;}
     img.d-none.hero-home { display: block !important; width: 290px; margin-left: 20%; margin-top: 30px;}
     .client-partner {display: block;text-align: center;}
     .client-partner p, .social-link p {font-size: 24px;width: 290px;margin: 0 auto 40px;height: 70px;line-height: 66px;}
     .button-groups { display: block;margin-top: 40px;text-align: center;}
     .button-groups p {margin-left: 0px;margin-top: 12px;}
     .client-partner a:not(:last-child) {margin-bottom: 26px;display: block;}
     .our-steps-area .row.mt-5, .about-book-area .row.mt-5, .about-author-area .row.mt-5 {
          margin-top: 45px !important;
      }
     /**/
     .access-bonus-resources-area, .about-author-area {padding: 50px 0;}
     .about-author-content {padding: 30px 30px 0px; min-height: auto;display: block;}
     .author-image {position: static;}
     .social-link {display: block;text-align: center;margin-top: 40px;}
     .social-link div a:first-child{margin-left: 0;}
     .section-title h2 { font-size: 46px;line-height: 50px;}
     .our-steps-area::after { bottom: -55px;}
     .arrow-down {height: 57.21px;bottom: -12.7%;}
     .our-steps-area .arrow-down {bottom: -5.3%;}
     .section-title h3 {font-size: 33px;line-height: 45px;}
     .book-team .icon { margin-top: -118px;width: 195px;margin-left: auto;margin-right: auto;}
     .access-bonus-resources-area .row.mt-5 {margin-top: 165px !important;}
     .book-team h3 {font-size: 22px;line-height: 36px;}
     .single-book-team p {font-size: 15px;line-height: 25px;}
     .single-step { padding: 50px 20px; min-height: auto;}
     .client-link a { width: 160px;padding: 0px 14px;}
     .client-link a:not(:last-child) {margin-bottom: 20px;}
     .our-steps-area .row.mt-5 .col-lg-6:not(:last-child) { margin-bottom: 50px;}
     .our-steps-area::after {height: 55px;}
     .footer-link a {font-size: 12px;padding: 5px 10px;margin: 0;}

     /**/
     .access-bonus-resources-area .row.mt-5 .col-lg-6:not(:last-child) {
          margin-bottom: 160px;
      }

      
}